.navbar{
    width: 100%;
    color: white;
    position: fixed;
    top:0;
    z-index: 999;
    background:linear-gradient(to top,transparent 0%,rgb(0,0,0,0.3) 50%);
    font-size: 14px;

    &.scrolled{
        background-color:var(--main-color);
    }
    .container{
        padding: 0px 50px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        .left{
            display: flex;
            align-items: center;
        img{
            height: 20px;
            margin-right: 20px;
        }
        span{
            margin-right: 20px;
            cursor: pointer;
        }
        .link{
            text-decoration: none;
            color: white;
        }
    }
        .right{
            display: flex;
            align-items: center;
            img{
                height: 40px;
                width: 40px;
                border-radius: 50%;
                object-fit: cover;
                cursor:pointer;
            }
            span{
            margin-right: 20px;
            cursor: pointer;
            }
            .profile{
                .options{
                    display: none;
                }
                span{
                    padding: 10px;
                    cursor: pointer;
                }
                &:hover{
                 .options{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    color:white;
                    background-color: black;
                    margin-top: 3px;
                   
                 }
                 
                }
            }
        }
    }
}